// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Pages
@import "pages/contact-index";
@import "pages/contact-details";
@import "pages/home-page";
@import "pages/signup-page";
@import "pages/stats";
@import "pages/contact-edit";

// Components
@import "cmps/contact-preview";
@import "cmps/contact-list";
@import "cmps/contact-filter";
@import "cmps/app-header";
@import "cmps/transfer-funds";
@import "cmps/moves-list";

.main-app {
    // background-color: lightgray;
    // min-height: 100vh;
    // display: flex;
    // flex-direction: column;;

    // .app-header {
    //     background: #e91e63;
    //     color: white;
    // }

    main {
        flex-grow: 1;
        width: 100%;
    }

    > footer {
        background-color: #111;
        color: white;
    }
}
