.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 40px;
    margin-block-start: 20px;
    
    .details-info{
        display: flex;
        justify-content: center;
        width: 70%;
        .details-data{
            margin-inline-start: 40px;
            margin-block-start: 50px;
            > *{
                margin-block-end: 15px;
            }
            .gray{
                color: rgb(82, 80, 80);
            }
        }
        .details-img{
            background-color: lightgrey;
            border-radius: 50%;
            width: 200px;
            margin-block-end: 10px;
        }
    }

    > * {
        margin-top: 10px;
    }

    & img{
        width: 30%;
    }

    & .btn{
        background-color: rgb(224, 222, 222);
        font-size: 15px;
        margin-inline-end: 10px;
        color: black;
        &:hover{
            background-color: bisque;
        }
    }
    .actions{
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    @media screen and (max-width: 768px){
        .details-info {
            flex-direction: column;
            align-items: center;
            .details-data {
                margin-block-start: 20px; 
            }
        }
    }
}